streamlit==1.43.0
streamlit-cookies-manager==0.2.0
streamlit-cropper==0.2.2
ultralytics==8.3.85
ultralytics-thop==2.0.14
pymongo==4.13.2
bcrypt==4.3.0
pillow==11.1.0
numpy==2.0.2
pandas==2.2.3
opencv-python==4.11.0.86
requests==2.32.3
tzlocal==5.3.1
pytz==2025.1
streamlit-js-eval==0.1.7
streamlit-paste-button==0.1.2
keras==3.9.0
ml-dtypes==0.4.1
tensorboard==2.18.0
st-img-pastebutton==0.0.6
tensorflow==2.18.0
